* {
  box-sizing: border-box;
}
html, body {
    /* margin: 10; */
    /* padding: 10; */
    margin: 0;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #c9c4b0;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #080703;
}
button{
  cursor: pointer;
  border-radius: 50px;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  left: 0;
  right: 0;
  /* bottom: 0; */
  background: rgba(92, 89, 73, 0.5);
  /* color: #f1f1f1; */
  margin: auto;
  width: 85%;
  padding: 20px;
}

#start {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #080703;
  color: #c9c4b0;
  cursor: pointer;
  border-radius: 50px;
}

#start:hover, #start:focus {
  background: #c9c4b0;
  color: #080703;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 auto;
}

.grid {
    flex-direction: row;
    flex-wrap: wrap;
    width: 210px;
    height: 210px;
    border: solid 5px #9ead8a;
    background-color: #9ead8a;
    margin: 30px auto;
}

.gridKey {
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    /* border: solid 5px #9ead8a;
    background-color: #9ead8a; */
    margin: 30px auto;
}

.squareKey {
    width: 80px;
    height: 80px;
    /* background-color: rgba(92, 89, 73, 0.25);
    border: 1px solid #9ead8a;
    border-radius: 50px; */
}


#upKeyId, #leftKeyId, #rightKeyId, #downKeyId{
    background-color: #d2c99c;
    /* border: 1px solid #9ead8a; */
    border-radius: 50px;
    background: rgba(92, 89, 73, 0.25);
}
#upKeyId:focus, #leftKeyId:focus, #rightKeyId:focus, #downKeyId:focus{
    background-color: #9ead8a;
    border-radius: 50px;
    background: rgba(92, 89, 73, 0.25);
}



.square_deep {
    width: 20px;
    height: 20px;
    background-color: #d2c99c;
    border: 1px solid #9ead8a;
    border-radius: 5px;
}
.square_light {
    width: 20px;
    height: 20px;
    background-color: #e8dabe;
    border: 1px solid #9ead8a;
    border-radius: 5px;
}

.snake {
    background-color: pink;
}

.apple {
    /* background-color: blue; */
}

.splashContainerR{
    display: block;
    /* background-color: rgba(92, 89, 73, 0.5); */
    width: 210px;
    height: 3rem;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 10%;
}
.splashContainerL{
    display: block;
    /* background-color: rgba(92, 89, 73, 0.5); */
    width: 240px;
    height: 240px;
    padding: 0;
    position: absolute;
    top: 50%;
    Left: 5%;
}

.message {
    font-size: 20px;
    color: #f21e0d;
    align-self: center;

}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
